DATABASE_URL="postgresql://online_store_db2_user:38VKAdZYIqueXkJ5bqlnfGKMl090h6fC@dpg-csgh035ds78s7383ghm0-a.frankfurt-postgres.render.com/online_store_db2"
jwtSecretKey=m20KukcjPa9bSCeddme2FTHKViv0MB/rQYlNqXlUqbeyG4/mll1NnXdbCIBLGFgIA4f3djuz7YmWKcQozB6H/w
jwtRefreshTokenKey=mnFyXEo/aTdh+ZQEdiuMCO6TsqVMzqVpNSA5hQFoFXj4pFCD67C7bqgBus1Jsx5IxOVsvNRivOTLY2qbUhn2hQ
ALGORITHM="aes256"
CRYPTO_KEY="02aab0f70eca03ff2e2397cb91076151"
CRYPTO_IV="81ac0efc76fb7d55"
